html {
    background-color: rgba(179,219,212,1);

}
body{
    background-color: rgba(179,219,212,1);
}

.jumbotron{
    height: 40em;
    font-family: 'Oswald', sans-serif;
    background: rgba(179, 219, 212, 1) url("../img/ice-scoops.jpeg") no-repeat center;
}

.selfie {
    margin-left: 2em;
    margin-right: 2em;
    background-color: white;
}

.aboutUs{
    background-color: white;
    margin: 0 2em;
    padding: 0 2em 2em 2em;
}



.postDesign{
    background-color: white;
    margin: 2em;
    padding: 2em;
}

@media (min-width: 992px) {
    .jumbotron{
        height: 22em;
        background: rgba(255, 233, 167, 1) url("../img/ice-cream.jpg") no-repeat;
    }
    html{
        background-color: rgba(209,229,233,1);
    }
    body{
        background-color: rgba(209,229,233,1);
    }

}