body {
    margin: 0;
}

nav {
    background: #848487;

}

.logo {
    display: inline-block;
    position: fixed;
    margin: 0;
   align-content: center;
}


nav a {
    color: #DDDDDD;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 10px;
    align-items: center;
}

nav a:hover {
    background: black;

}

.nav-bar {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;

}

nav ul li:nth-child(5) {
    margin-left: auto;
    display: inline-block;
}








